<section class="mainContentSection packagesSection">
  <div class="container">{% if page.layout == 'products-article' %}
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="sectionTitle">
          <h2><span class="lightBg">Trampoline</span></h2>
        </div>
      </div>
    </div>{% endif %}
    <div class="row">{% for post in site.categories["trampoline"] %}
      <div class="col-lg-4 col-md-6 margin-bottom-30">
        <div class="thumbnail deals">
          <a href="{{ site.url }}{{ post.url }}"><img src="/images/products/{{ post.image }}.jpg" alt="{{ post.title }}"></a>
          <div class="caption text-center">
            <h4 class="captionTitle">{{ post.title }}</h4>
            <a href="{{ site.url }}{{ post.url }}" class="btn buttonTransparent">Learn More</a>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</section>