<section class="mainContentSection packagesSection">
  <div class="container">{% if page.category == 'home' or page.layout == 'products-article' %}
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span class="lightBg">Trampoline</span></h2>
        </div>
      </div>
    </div>{% endif %}
    <div class="row">{% for post in site.categories["trampoline"] %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail deals hotelgrid">
          <a href="{{ site.url }}{{ post.url }}"><img src="/images/trampoline/{{ post.image }}-1.jpg" alt="{{ post.title }}"></a>
          <div class="caption text-center">
            <h4 style="margin-bottom:25px;"><a href="{{ site.url }}{{ post.url }}" class="captionTitle">{{ post.title }}</a></h4>
            <a href="{{ site.url }}{{ post.url }}" class="btn buttonTransparent">Learn More</a>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</section>