<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/hxd-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="HXD">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/font-awesome.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/blue.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body-wrapper">
    <div class="main-wrapper">
      <header>
        <nav class="navbar navbar-default navbar-main navbar-fixed-top lightHeader" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.url }}"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.category == 'trampoline' %}active{% endif %}"><a href="{{ site.url }}/trampoline/">Trampoline</a></li>
                <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
                <li class="{% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">About HXD</a></li>
                <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {{ content }}
      <footer>
        <div class="footer clearfix">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="footerContent">
                  <a href="{{ site.url }}" class="footer-logo"><img src="/images/assets/hxd-logo-foot.png" alt="HDX Logo"></a>
                  <p>Good Brothers Sports is the only manufacture producing in ground trampoline in China. Since established in 2004, the family founder committed to producing whole world's safest and most interesting playground trampoline for kids.</p>
                  <a href="{{ site.url }}/about/" class="btn buttonTransparent" style="margin-top:20px;">Learn More</a>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                <div class="footerContent">
                  <h5>Trampoline</h5>
                  <ul class="list-unstyled">{% for post in site.categories["trampoline"] %}
                    <li><i class="fa fa-check-square"></i><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="footerContent">
                  <h5>Last News</h5>
                  <ul class="list-unstyled">{% for post in site.categories["news"] limit:3 %}
                    <li><i class="fa fa-angle-double-right"></i><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="footerContent">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i>{{ site.address }}</li>
                    <li><i class="fa fa-phone"></i>{{ site.tel }}</li>
                    <li><i class="fa fa-fax"></i>{{ site.fax }}</li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailTo:{{ site.email }}">{{ site.email }}</a></li>
                  </ul>
                  <ul class="list-inline">
                    <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyRight clearfix">
          <div class="container">
            <div class="col-sm-12 text-center">Copyright © 1998-2018 Good Brothers Sports Equipments Accessories Co., Ltd | <a href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a> | Website design by <a href="https://gdky.net" target="_blank">OSW</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/assets/jquery-2.2.4.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/custom.js"></script>
  </body>
</html>