<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/flexwarm-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Flexwarm">
    <link href="{{ site.url }}/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/selectbox/select_option1.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/isotope/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/isotope/isotope.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/color.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body-wrapper {% if page.category == 'home' %}changeHeader{% endif %}">
    <div class="main-wrapper">
      <header>
        <nav class="navbar navbar-default navbar-main navbar-fixed-top {% if page.category == 'home' %}{% else %}lightHeader{% endif %}" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.url }}"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown singleDrop {% if page.category == 'about' %}active{% endif %}">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ site.url }}/about/">About Flexwarm</a></li>
                    <li><a href="{{ site.url }}/history/">Flexwarm History</a></li>
                    <li><a href="{{ site.url }}/team/">Flexwarm Team</a></li>
                    <li><a href="{{ site.url }}/honors/">Flexwarm Honors</a></li>
                    <li><a href="{{ site.url }}/factory/">Flexwarm Factory</a></li>
                    <li><a href="{{ site.url }}/corporate-social-responsibility/">Corporate Social Responsibility</a></li>
                  </ul>
                </li>
                <li class="dropdown singleDrop {% if page.category == 'technologies' %}active{% endif %}">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Technologies</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ site.url }}/flexwarm/">Flexwarm Heating Technology</a></li>
                  </ul>
                </li>
                <li class="{% if page.category == 'app' %}active{% endif %}"><a href="{{ site.url }}/app/">App</a></li>
                <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
                <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {{ content }}
      <footer>
        <div class="footer clearfix">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-xs-12">
                <div class="footerContent">
                  <a href="{{ site.url }}" class="footer-logo"><img src="/images/assets/flexwarm-logo.png" alt="Flexwarm-logo"></a>
                  <p>Leading by a senior engineer associated with Tiangong-1 in 2011, a group of hardworking engineers sweated on applying the military technologies, thick film heating technology and higher precision sensor technology, to products for civilian use.</p>
                  <a href="{{ site.url }}/about/" class="btn buttonTransparent" style="margin-top:20px;">Learn More</a>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="footerContent">
                  <h5>Technologies</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-fire"></i><a href="{{ site.url }}/flexwarm/">Flexwarm Heating Technology</a></li>
                    <li><i class="fa fa-cloud-download"></i><a href="{{ site.url }}/app/">Download app</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="footerContent">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i>{{ site.address }}</li>
                    <li><i class="fa fa-phone"></i>{{ site.tel }}</li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailTo:{{ site.email }}">{{ site.email }}</a></li>
                  </ul>
                  <ul class="list-inline">
                    <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="copyRight clearfix">
          <div class="container">
            <div class="col-sm-12 text-center">Copyright © 2011-2018 Guangdong Flexwarm Advanced Materials & Technology Co., Ltd | <a href="{{ site.url }}/Sitemap.xml" target="_blank">Sitemap</a> | Website design by <a href="https://gdky.net" target="_blank">OSW</a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{{ site.url }}/plugins/jquery/jquery-2.2.4.min.js"></script>
    <script src="{{ site.url }}/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.url }}/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ site.url }}/assets/bootstrap.min.js"></script>
    <script src="{{ site.url }}/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="{{ site.url }}/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ site.url }}/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="{{ site.url }}/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="{{ site.url }}/plugins/jquery/waypoints.min.js"></script>
    <script src="{{ site.url }}/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="{{ site.url }}/plugins/isotope/isotope.min.js"></script>
    <script src="{{ site.url }}/plugins/isotope/jquery.fancybox.pack.js"></script>
    <script src="{{ site.url }}/plugins/isotope/isotope-triger.js"></script>
    <script src="{{ site.url }}/plugins/countdown/jquery.syotimer.js"></script>
    <script src="{{ site.url }}/plugins/slick/slick.min.js"></script>
    <script src="{{ site.url }}/js/custom.js"></script>
  </body>
</html>