<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/hxd-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="HXD">
    <link type="text/css" rel="stylesheet" href="/assets/application.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="luxbar" class="luxbar-fixed">
      <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox">
      <div class="luxbar-menu luxbar-menu-right luxbar-menu-white">
        <div class="container">
          <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="{{ site.url }}"><img src="{{ site.url }}/images/assets/hxd-logo.png" width="185" height="53" alt="HXD Logo"></a>
              <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item dropdown {% if page.category == 'products' %}active{% endif %}"><a href="{{ site.url }}/products/">Products</a>
              <ul>{% for post in site.categories["products"] %}
                <li class="luxbar-item {% if post.title == page.title %}active{% endif %}"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
              </ul>
            </li>
            <li class="luxbar-item {% if page.category == 'about' %}active{% endif %}"><a href="{{ site.url }}/about/">About HXD</a></li>
            <li class="luxbar-item {% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="margin-top-58"></div>
    {{ content }}
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 hidden-xs">
              <div class="footerContent">
                <h5>About HDX</h5>
                <p class="text-justify">Good Brothers Sports is the only manufacture producing in ground trampoline in China. Since established in 2004, the family founder committed to producing whole world's safest and most interesting playground trampoline for kids.</p>
                <a href="{{ site.url }}/about/" class="btn buttonTransparent margin-top-20">Learn More</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="footerContent">
                <h5>Products</h5>
                <ul class="list-unstyled">{% for post in site.categories["products"] %}
                  <div itemscope itemtype="http://schema.org/Product">
                    <li><i class="fa fa-angle-double-right margin-right-10"></i><a itemprop="url" href="{{ site.url }}{{ post.url }}"><span itemprop="name">{{ post.title }}</span></a></li>
                  </div>{% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div itemscope itemtype="http://schema.org/Organization">
                <div class="footerContent">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home margin-right-10"></i><span itemprop="address">{{ site.address }}</span></li>
                    <li><i class="fa fa-phone margin-right-10"></i><a href="tel:{{ site.tel }}"><span itemprop="telephone">{{ site.tel }}</span></a></li>
                    <li><i class="fa fa-fax margin-right-10"></i><span itemprop="faxNumber">{{ site.fax }}</span></li>
                    <li><i class="fa fa-envelope-o margin-right-10"></i><a href="mailTo:{{ site.email }}"><span itemprop="email">{{ site.email }}</span></a></li>
                  </ul>
                  <ul class="list-inline">
                    <li><a itemprop="url" href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a itemprop="url" href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a itemprop="url" href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="copyRight">
        <div class="container text-center">
          <div itemscope itemtype="http://schema.org/Organization">
            Copyright © 1998-2020 <span itemprop="name">Good Brothers Sports Equipments Accessories Co., Ltd</span> | <a href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-to-top"><a href="#"><img src="{{ site.url }}/images/assets/up.png" width="26" height="26" alt="Back To Top"></a></div>{% if page.category == 'home' %}
    <script type="text/javascript" src="/assets/application.js"></script>{% endif %}
  </body>
</html>