---
layout: pages
---
<section class="mainContentSection">
  <div class="container">
    {{ content }}
    <h3 class="margin-top-30">Trampoline Net Color</h3>
    <h4 class="margin-top-30">Arch bridge design</h4>
    <p>The overall arch bridge design of the mould block has strong pressure resistance,which makes the whole more beautiful and prevents the accumulation of debris in the foundation pit.</p>
    <h4 class="margin-top-30">Stable/safe</h4>
    <p>Increased stability and safety with increased live span.</p>
    <h4 class="margin-top-30">Long lasting</h4>
    <p>The combination of thickened inner hole design and high wear-resistant material enhances the service life of the moldule block.</p>
    <h4 class="margin-top-30">Shock absorption design</h4>
    <p>The grove type shock absorption design absorbs the cushioning force during jumping,reduces the reaction force of the mesh on the leg,and makes the overall touch softer.</p>
    <div class="row margin-top-30">
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-red.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Red</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-black.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Black</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-yellow.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Yellow</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-darkyellow.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Dark Yellow</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-white.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">White</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-purple.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Purple</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-green.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Green</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-blue.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Blue</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p><img src="/images/products/trampoline-net-color-brown.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
        <p class="text-center">Brown</p>
      </div>      
    </div>{% if page.video == 'wu' %}{% else %}
    <div class="embed-responsive embed-responsive-16by9 margin-top-30">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.video }}"></iframe>
    </div>{% endif %}
    <h3 class="margin-top-30">FAQ</h3>
    <h4 class="margin-top-30">Q: Can several kids use the KidsTramps at the same time?</h4>
    <p>Actually,the trampolines can bear more than 300 kg, but for safety purpose, we do not advise several kids jusp the trampolines together</p>
    <p>Better no more than 2 kids.</p>
    <h4 class="margin-top-30">Q: About the repairation?</h4>
    <p>Our qulity gurantee period is 5 years at least.</p>
    <p>If met quality problem, Please took picture to us and we will discuss how to repair with our engineer and reply you within 3 days.</p>
    <h4 class="margin-top-30">Q: Is this inground trampoline Dangerous? Espeicially for kids?</h4>
    <p>No, this kind of inground trampolines is the most safe product in trampolines series.</p>
    <p>But the kids jump from high to the trampoline is forbidden.</p>
    <h4 class="margin-top-30">Q: Should I compose the trampolines when I receive it?</h4>
    <p>Actually,we send the trampolins as one compeletly product, not parts, you can use it directly.</p>
    <h4 class="margin-top-30">Q: Do these inground trampolines need special care?</h4>
    <p>The inground trampolines can be used for outdoor for long time without any special care, also they are water proof.</p>
    <div class="col-lg-6 col-md-6 margin-top-30">
      <p><a href="{{ page.download }}" class="btn buttonTransparent" target="_blank"><i class="fa fa-cloud-download"></i> Download Catalog</a></p>
    </div>
    <div class="col-lg-6 col-md-6 margin-top-30">
      <p><a href="{{ page.download }}" class="btn buttonTransparent" target="_blank"><i class="fa fa-envelope"></i> Email Us</a></p>
    </div>
  </div>
</section>
{% include products-list.html %}