---
layout: pages
---
<section class="mainContentSection">
  <div class="container">
    {{ content }}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
      <h3 class="margin-top-30">Trampoline Net Color</h3>
      <div class="row margin-top-30">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-black.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Black</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-white.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">White</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-blue.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Blue</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-brown.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Brown</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-green.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Green</p>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-purple.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Purple</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-red.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Red</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-yellow.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Yellow</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <p><img src="/images/trampoline/trampoline-net-color-new-darkyellow.jpg" alt="Trampoline Net Color" class="img-responsive img-thumbnail"></p>
          <p class="text-center">Dark Yellow</p>
        </div>
      </div>
    </div>{% if page.video == 'wu' %}{% else %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ page.video }}"></iframe>
      </div>
    </div>{% endif %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="margin-top-30">FAQ</h3>
      <h4 class="margin-top-30">Q: Can several kids use the KidsTramps at the same time?</h4>
      <p>Actually,the trampolines can bear more than 300 kg, but for safety purpose, we do not advise several kids jusp the trampolines together</p>
      <p>Better no more than 2 kids.</p>
      <h4 class="margin-top-30">Q: About the repairation?</h4>
      <p>Our qulity gurantee period is 5 years at least.</p>
      <p>If met quality problem, Please took picture to us and we will discuss how to repair with our engineer and reply you within 3 days.</p>
      <h4 class="margin-top-30">Q: Is this inground trampoline Dangerous? Espeicially for kids?</h4>
      <p>No, this kind of inground trampolines is the most safe product in trampolines series.</p>
      <p>But the kids jump from high to the trampoline is forbidden.</p>
      <h4 class="margin-top-30">Q: Should I compose the trampolines when I receive it?</h4>
      <p>Actually,we send the trampolins as one compeletly product, not parts, you can use it directly.</p>
      <h4 class="margin-top-30">Q: Do these inground trampolines need special care?</h4>
      <p>The inground trampolines can be used for outdoor for long time without any special care, also they are water proof.</p>
    </div>
    <p class="margin-top-30 text-center"><a href="mailTo:{{ site.email }}" class="btn buttonTransparent">Email Us</a></p>
  </div>
</section>
{% include products-list.html %}