---
layout: pages
---
<section class="mainContentSection">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active"><a href="/images/trampoline/{{ page.image }}-1.jpg" data-fancybox="images"><img src="/images/trampoline/{{ page.image }}-1.jpg" alt="{{ page.title }}"></a></div>
          <div class="item"><a href="/images/trampoline/{{ page.image }}-1.jpg" data-fancybox="images"><img src="/images/trampoline/{{ page.image }}-1.jpg" alt="{{ page.title }}"></a></div>
          <div class="item"><a href="/images/trampoline/{{ page.image }}-1.jpg" data-fancybox="images"><img src="/images/trampoline/{{ page.image }}-1.jpg" alt="{{ page.title }}"></a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2 class="text-center margin-top-30">{{ page.title }}</h2>
      <p class="margin-top-30 text-justify" style="font-size:16px">{{ page.features }}</p>
      <p class="margin-top-30"><a href="mailTo:{{ site.email }}" class="btn buttonTransparent btn-block">Email Us</a></p>
    </div>
    <div class="margin-top-50">
      {{ content }}
    </div>
  </div>
</section>
{% include trampoline-list.html %}